.carousel__Items{
        display: flex;
        justify-content: center;
}

.carousel__Item{
        width: 300px;
        padding: 10px;
}

.carousel__Items img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
}